body{
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho{
    background-color: rgb(0, 0, 0);
}
.cor{
    color: aqua;
}

.pesquisa_cabecalho{
    background-color: rgb(255, 157, 92);
    border: none;
    border-radius: 4px;
    height: 2rem;
    outline: none;
    width: 50rem;
}

.logo{
    height: 2rem;
}

.laranja{
    color: #ff6100;
    font-size: 2rem;
}

.botao:hover{
    cursor: pointer;
}