body{
    font-family: Arial, Helvetica, sans-serif;
}
h5{
    color: black;
}
span{
    cursor: pointer;
}
.icone{
    width: 40px;
    float: left;
    margin-right: 3px;
    height: 40px;
}

.icone-carrinho{
    float: right;
    width: 40px;
    margin-right: 3px;
    height: 40px;
}

.textarea-produto{
    resize: none;
    padding: 2px;
}
.cabecalho{
    background-color: rgb(0, 0, 0);
}
.barra{
    background-color: #ff6100;
    height: 2rem;
    border: none;
    margin-bottom: 1rem;
}

.pesquisa_cabecalho{
    background-color: rgb(255, 157, 92);
    border: none;
    border-radius: 4px;
    height: 2rem;
    outline: none;
    width: 100%;
}

.login{
    width: 70%;
    padding: 8px;
    height: 20rem;
}

.carrinho{
    width: 70%;
    padding: 8px;
    min-height: 20rem;
    margin-bottom: 10%;
}

.infoProdutoCarrinho{
    width: 40%;
    padding: 8px;
    height: 6rem;
    font-size: 14px;
    margin-bottom: 6px;
}

.btn-carrinho{
    float: right;
    margin-right: 6px;
}

.floatRight{
    float: right;
}

.form{
    width: 70%;
}

.dadosCarrinho{
    width: 90%
}

.input-form{
    background-color: rgb(255, 157, 92);
    border: none;
    border-radius: 4px;
    height: 2rem;
    outline: none;
    width: 100%;
    margin: 5px 0px;
}

.label-file{
    color: #75756d;
    line-height: 2rem;
}

.type-file{
    display: none;
}

.input-produto{
    background-color: transparent;
    border: none;
    color: black;
    margin-bottom: 3px;
    width: 90%;
    margin-left: 0px !important;
}

.compra{
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}

.input-quantidade{
    background-color: transparent;
    border: none;
    color: black;
    margin-bottom: 3px;
}

.titulo-produto{
    font-size: 30px;
    font-weight: bold;
}

.label-produto {
    display: inline;
    float: left;
    margin-right: 3px !important;
    margin-left: 0px !important;
}

.preco-produto {
    display: inline;
    position: fixed;
    margin-top: 0.1rem !important;
    margin-right: 3px !important;
    margin-left: 0px !important;
    font-size: 30px;
    font-weight: bold;
}

.preco{
    margin-left: 2.8rem !important;
}

.logo{
    height: 2rem;
}

.laranja{
    color: #ff6100;
    font-size: 2rem;
}

.background-laranja{
    background-color: #ff6100 !important;
}

.border-radius-6px{
    border-radius: 6px;
}

.border-none{
    border: none;
}

.modal{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 2px;
}

.botao:hover{
    cursor: pointer;
}

.menu:hover{
    cursor: pointer;
}

.mr-1{
    margin-right: 1rem;
}

.font-size-20{
    font-size: 20px;
}

.font-size-25{
    font-size: 25px;
}

.btn-submit{
    background-color: #ff6100;
    border-radius: 6px;
    padding: 6px;
    border: solid #ff6100 1px;
}

a{
    text-decoration: none !important;
    color: black !important;
}

a:hover{
    text-decoration: underline !important;
}

.btn-submit:hover{
    background-color: white;
    border-radius: 6px;
    padding: 6px;
    border: solid black 1px;
}

.btn-laranja{
    border: solid #ff6100 1px;
    background-color: #ff6100;
}

.btn-laranja-claro{
    border: solid rgb(255, 157, 92) 1px;
    background-color:rgb(255, 157, 92);
}

.btn-laranja-claro:hover{
    background-color: white;
    border: solid black 1px;
}
.card{
    border: none !important;
    height: 8rem;
}

.dadoCarrinho{
    margin-bottom: 0px;
}

.dadoCarrinhoTitulo{
    font-weight: bold;
}

.card-img-top{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 12rem;
    border-top: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
}

.card-body{
    background-color: #ff6100;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.m05{
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.padding-16{
    padding-top: 16px;
}

#modalMenu{
    width: 30%;
    margin-left: 1%;
}

#modalUsuario{
    width: 15%;
    margin-left: calc(100vw - 15%);
}

.borda-preta{
    border: solid black 1px;
}

.borda-laranja{
    border: solid #ff6100 1px;
}

.borda-form{
    border-radius: 8px;
}

.btn-menu{
    margin-top: 5%;
    border-radius: 8px;
    width: 75%;
}

.sem-ponto{
    list-style-type: none;
}

.li-menu{
    cursor: pointer;
}

.telaLogin{
    margin-top: 10%;
}

.img-produto{
    margin-top: 35px !important;
    border: solid #ff6100 2px;
    border-radius: 8px;
    margin-left: 5%;
    padding: 1%;
    height: 28rem;
}

.info-produto{
    margin-top: 35px !important;
    border: none;
    height: 28rem;
}

.texto-info-produto{
    margin-left: 11px;
}

.prod-info-direita{
    float: right;
    width: 50% !important;
}

.prod-info-esquerda{
    float: left;
    width: 45% !important;
    margin-right: auto;
}

.img-produto-info{
    float: left;
    width: 100%;
}

.filhos{
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    width: 100%;
}

.btn-filho{
    margin-right: 0.3rem;
    background-color: white;
    border-radius: 3px;
    border: solid #ff6100 1px;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    height: 2rem;
}

.btn-filho-selected{
    background-color: #ff6100;
    color: black;
}

.foto-produto{
    width: 100% !important;
    height: 100% !important;
}

img {
    object-fit: contain;
}
