body{
    font-family: Arial, Helvetica, sans-serif;
}
span{
    cursor: pointer;
}
.cabecalho{
    background-color: rgb(0, 0, 0);
}
.barra{
    background-color: #ff6100;
    height: 2rem;
    border: none;
    margin-bottom: 1rem;
}

.pesquisa_cabecalho{
    background-color: rgb(255, 157, 92);
    border: none;
    border-radius: 4px;
    height: 2rem;
    outline: none;
    width: 100%;
}

.login{
    width: 70%;
}

.form{
    width: 70%;
}

.input-form{
    background-color: rgb(255, 157, 92);
    border: none;
    border-radius: 4px;
    height: 2rem;
    outline: none;
    width: 100%;
}

.logo{
    height: 2rem;
}

.laranja{
    color: #ff6100;
    font-size: 2rem;
}

.background-laranja{
    background-color: #ff6100 !important;
}

.border-radius-6px{
    border-radius: 6px;
}

.border-none{
    border: none;
}

.modal{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 2px;
}

.botao:hover{
    cursor: pointer;
}

.menu:hover{
    cursor: pointer;
}

.mr-1{
    margin-right: 1rem;
}

.font-size-20{
    font-size: 20px;
}

.font-size-25{
    font-size: 25px;
}

.btn-laranja{
    border: none;
    background-color: #ff6100;
}

.btn-laranja-claro{
    border: none;
    background-color:rgb(255, 157, 92);
}

.card{
    border: none !important;
}

.card-img-top{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.card-body{
    background-color: #ff6100;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.m05{
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.padding-16{
    padding-top: 16px;
}

#modalMenu{
    width: 30%;
    margin-left: 1%;
}

#modalUsuario{
    width: 15%;
}

.borda-preta{
    border: solid black 1px;
}

.borda-laranja{
    border: solid #ff6100 1px;
}

.borda-form{
    border-radius: 8px;
}

.btn-menu{
    margin-top: 5%;
    border-radius: 8px;
    width: 75%;
}

.sem-ponto{
    list-style-type: none;
}

.li-menu{
    cursor: pointer;
}
